@use '../../../themes/variables';

.container {
    display: flex;
    flex-direction: column;
    background: gray;
    width: 100%;
    height: 91.5%;

    .header {
        grid-column: 1 / span 3;
        height: 50px;
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        background: #FFF;
        padding-top: 0.2em;
        padding-bottom: 0.2em;

        button {
            margin-right: 1em;
        }

        .tree-btn {
            color: variables.$dark-background;
        }
    }
    
    .workspace {
        display: flex;
        width: 100%;
        height: 100%;

        .tree-area {
            height: 100%;
            width: 100%;
            flex: 1;
            background: variables.$dark-background;
        }

        .workspace_th {
            height: 100%;
            width: 100%;
            flex: 3;
            display: flex;
            flex-direction: column;

            .blockly-area {
                height: 100%;
                width: 100%;
                flex: 3;
            }

            .response {
                height: 100%;
                width: 100%;
                flex: 1;
            }
        }
    }
}
