<div class="container">
    <div class="header">
        <button class="tree-btn" color="primary"mat-icon-button aria-label="toggle-tree" (click)="drawer.toggle()">
            <mat-icon>account_tree</mat-icon>
          </button>
        <div>
            <button color="primary"mat-icon-button aria-label="execute">
                <mat-icon>play_arrow</mat-icon>
              </button>
              <button color="accent" mat-icon-button aria-label="export">
                <mat-icon>downloading</mat-icon>
              </button>
              <button color="warn" mat-icon-button aria-label="fullscreen">
                  <mat-icon>fullscreen</mat-icon>
              </button>
        </div>
    </div>
      <mat-drawer-container class="workspace-container" autosize>
        <mat-drawer #drawer class="tree-sidenav" mode="side">
          <p>Auto-resizing sidenav</p>
        </mat-drawer>
      
        <div class="workspace">
          <div class="blockly-area">

          </div>
          <div class="response">
            
          </div>
        </div>
      
      </mat-drawer-container>
      
        <!----
        <div class="tree-area"> </div>
        <div class="workspace_th">
            <div class="blockly-area"> </div>
            <div class="response"> </div>
        </div>
      -->
  </div>