@use '../../../themes/variables';

.mat-toolbar {
    display: flex;
    justify-content: space-between;

    .left-side {
        display: inline-flex;
        height: 100%;
        align-items: center;
    }

    ul {
        display: inline-flex;
        list-style: none;
        height: 100%;
        align-items: center;

        li {
            display: flex;
            height: 100%;
            align-items: center;
            padding-right: 1em;
            font-weight: normal;
            font-size: 16px;
            color: #FFF;
        }

        li:hover {
            cursor: pointer;
            transform: translateY(-10px);
            transition: all 8ms;
        }
    }
}

.bg-pink {
    background: variables.$dark-primary;
}

.bg-green {
    background: variables.$dark-green;
}

.bg-blue {
    background: variables.$dark-blue;
} 
