@use '../../../themes/variables';

.container {
    width: 100%;
    //background: variables.$dark-background;
    background: url(../../../assets/images/brickwall.png);
    height: 91.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: variables.$light-color;
    background: #FFF;
    
    img {
        width: 15vw;
    }

    p {
        text-align: center;
        margin: 0;
        font-family: 'Baloo 2', cursive;
        padding-top: 0.5em;
        font-size: 20px;
    }
}

.card:hover {
    transform: translateY(-35px);
    transition: all 6ms;
}

.bg-pink {
    background: #FFEEF2;
    border: 5px solid variables.$dark-primary;
}

.bg-green {
    background: #EEF4D4;
    border: 5px solid variables.$dark-green;
}

.bg-blue {
    background: #9AE5E6;
    border: 5px solid variables.$dark-blue;
}   

.options {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 2em;
}

.container-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.options {
    button {
        margin-right: 5px;
    }
}

.tabs-container {
    overflow: hidden;
}


h1 {
    font-weight: bold;
    color: #FFF;
    font-family: 'Baloo 2', cursive;
}

.loading-container {
    background-color: rgba(0, 0, 0, 0.795);
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}